*{
	margin: 0%;
	box-sizing: none;
	padding: 0%;
}
.content{
	width: 100%;
	height: auto;
	
	padding-top: 30px;

}


.menu{
	display: flex;
	justify-content: center;
	

}

.corps{
	width: 100%;
	margin: auto;
	margin-top: 10px;
	

}

.im{
	width: 19%;
	height: 500px;
	float: left;
}

#cap3{
	width: 30%;
	height: 200px;

	border-radius: 40px;

}

ul{
	display: flex;
	border: 1px solid red;
	width: 70%;
	height: 70px;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;

}

li{
	list-style: none;
	
	
	
}
	
a{
	text-decoration:none;
	
	size: 20px;
	
}

.landing{
	margin: auto;
	float: left;
	width: 60%;
	height: 500px;
	
}
p{
	text-align: center;
	color: blue;
	font-size: 15px;
	margin: 10px;
	padding: 5px;
}
h2{
	width: 80%;
	margin: auto;
}

.btn{
	margin-top: 40px;
}

#bouton{
	margin-top: 5px;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	display: inline-block;
	background: blue;
	text-align: center;
	color: white;
	font-style: italic;
	size: 30px;
	padding-top: 10px;
}